body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8abebe;
}

.currency-converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*background-color: #962ee1;*/
}

.form-container {
  /*background-color: indigo;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-fields {
  margin: 0 0 40px 0;
}

#button-convert, #input-amount, #select-currency {
  border-radius: 10px;
  /*border: black 1px solid;*/
  font-size: 20px;
}

#input-amount {
  padding: 0 0 0 5px;
  width: 250px;
  height: 50px;
  margin: 0 30px 0 0;
  border: none;
}

#select-currency {
  width: 120px;
  height: 56px;
  border: none;
}

#button-convert {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

#button-convert:hover {
  background-color: #098a5e;
}

#button-convert:active {
  background-color: #098a5e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#converter-path {
  position: absolute;
  top: 10px;
  right: 10px;
}

#main-path {
  position: absolute;
  top: 10px;
  right: 100px;
}

