<form>
  <div class="form-container">
    <div class="input-fields">
      <input id="input-amount"
             placeholder="Enter a number!"
             type="number"
      />
      <select id="select-currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="BTC">BTC</option>
      </select>
    </div>
    <div>
      <button id="button-convert"
              type="submit"
      >Convert
      </button>
    </div>
  </div>
</form>