{{page-title "Converter"}}
<div class="currency-converter-container">
  <div>
    <h1>Currency converter</h1>
  </div>
  <InputField/>
  <div class="result-block">
    <h2>Conversion result</h2>
    <p>Result</p>
  </div>
</div>
{{outlet}}