{{page-title "Converter"}}
<div class="currency-converter-container">
  <div>
    <h1>Currency converter</h1>
  </div>
  <InputField></InputField>
  <div class="result-block">
    <h2>Conversion result</h2>
    {{#each @model as |converter|}}
      <p>{{converter}}</p>
    {{/each}}
  </div>
</div>
{{outlet}}